<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{$_SERVER[PATH_INFO]}?{$more[1].link}">
        <span class="material-icons">
          keyboard_arrow_left
        </span>
      </a>
    </li>
    {loop="$pages"}
    {if="isset($_GET['page']) && $_GET['page'] == $value.page"}
    <li class="page-item active"><a class="page-link" href="{$_SERVER[PATH_INFO]}?{$value.link}">{$value.page}</a></li>
    {else}
    <li class="page-item"><a class="page-link" href="{$_SERVER[PATH_INFO]}?{$value.link}">{$value.page}</a></li>
    {/if}
    {/loop}
    <li class="page-item">
      <a class="page-link" href="{$_SERVER[PATH_INFO]}?{$more[2].link}">
        <span class="material-icons">
          keyboard_arrow_right
        </span>
      </a>
    </li>
  </ul>
</nav>